* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* horizontally center the items x-axis */
  align-items: center; /* vertically center the items y-axis */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

section {
  height: 800px;
  border: 5px solid black;
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* horizontally center the items x-axis */
  align-items: center; /* vertically center the items x-axis */
}

section button {
  width: 100px;
}

section img {
  border-radius: 50%;
}

section div {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
  height: 200px;
}
