* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
#container-1 {
  background-color: rgb(240, 221, 221);
  flex: 1;
}
#container-2 {
  background-color: rgb(192, 192, 244);
  flex: 5;
  flex-direction: row-reverse;
  display: flex;
}
#container-3 {
  background-color: rgb(210, 228, 210);
  flex: 1;
}

#container-2-1 {
  background-color: rgb(136, 121, 121);
  flex: 8;
}
#container-2-2 {
  background-color: rgb(192, 192, 244);
  flex: 2;
}
